* {
	border: 0;
	padding: 0;
	margin: 0;
	font-family: "Verdana", sans-serif;
	font-size: 10pt;
}

.header {
	height: 50px;
	background: #F80;
	color: #800;
	border-bottom: 1px solid #C60;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.header_title {
	float: left;
	padding: 15px 25px;
	line-height: 20px;
	height: 20px;
	font-size: 12pt;
}

.menu {
	list-style: none;
	float: right;
}

.menu_item {
	float: left;
	padding: 15px;
	height: 20px;
	line-height: 20px;
}

.content {
	padding: 25px;
}

.content_title {
	font-size: 12pt;
	color: #800;
	margin-bottom: 15px;
}
